
<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Centri di Formazione</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" media="all"
	href="/assets/css/main.css" />
</head>
<body class="subpage">

	<!-- Header -->
	<header id="header">
		<nav class="left">
			<a href="#menu"><span>Menu</span></a>
		</nav>
		<a th:href="@{/centri}" class="logo">azienda!</a>
		<nav class="right">
			<a th:href="@{/logout}" class="button alt">Esci</a>
		</nav>
	</header>

	<!-- Menu -->
	<nav id="menu">
		<ul class="links">
			<li><a th:href="@{/addCentro}">Inserisci Centri di
					Formazione</a></li>
			<li><a th:href="@{/centri}">Centri di Formazione</a></li>
			
		</ul>

	</nav>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h1>Centri di Formazione</h1>
				<p>Scopri dove e contattaci!</p>
			</header>
			<div class="image fit">
				<img src="images/pic04.jpg" alt="" />
			</div>
			<div align="center">
				<h4>Centri di Formazione</h4>
				<div align="center">
					<table class="alt">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Indirizzo</th>
								<th>Email</th>
								<th>Telefono</th>
								<th>Capienza Massima</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="centro : ${centri}">
								<td><a th:href="@{'/centro' + '/' + ${centro.id}}"><span
										th:text="${centro.nome}"></span></a></td>
								<td><a th:href="@{'/centro' + '/' + ${centro.id}}"><span
										th:text="${centro.indirizzo}"></span></a></td>
								<td><a th:href="@{'/centro' + '/' + ${centro.id}}"><span
										th:text="${centro.email}"></span></a></td>
								<td><a th:href="@{'/centro' + '/' + ${centro.id}}"><span
										th:text="${centro.tel}"></span></a></td>
								<td><a th:href="@{'/centro' + '/' + ${centro.id}}"><span
										th:text="${centro.capienzaMassima}"></span></a></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<h2>Cerchi un'azienda per gestire i tuoi centri di formazione?</h2>
			<h3>Contattaci!</h3>
			<ul class="actions">
				<li><span class="icon fa-phone"></span> <a href="#">(000)
						000-0000</a></li>
				<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
				<li><span class="icon fa-map-marker"></span> 123 Somewhere
					Road, Nashville, TN 00000</li>
			</ul>
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span
						class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span
						class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span
						class="label">Dribbble</span></a></li>
				<li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
			</ul>
		</div>
		<div class="copyright">
			&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>.
			Images <a href="https://unsplash.com">Unsplash</a>.
		</div>
		<div>
			<cite class="author">Simone Rossetti</cite> <cite class="company">CEO,
				Untitled</cite>
		</div>


	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>